.hotkey-reminder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
  transition: opacity 0.5s;
}

.hotkey-reminder.fadeout {
  opacity: 0;
}

.hotkey-reminder p:last-child {
  margin: 0;
}

.hotkey-reminder kbd {
  margin-right: 10px;
}

.hotkey-reminder kbd:last-child {
  margin-right: 0;
}
